@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

a:visited, a:link, a:active, a:hover {
    text-decoration: none!important;
    color: black;
}



header {    
    position: fixed;
    width: 100vw;
    background-color: white;
}

nav {
    padding-top: 15px;
    padding-right: 50px;
    border: 0px solid black;
    height: 60px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul *{
        display: inline-block;  
        margin: 10px;     
}

main {
    /* padding-top: 60px; */
}

section {
    padding: 0px;
    margin: 0px;
}

section * {
    /* border: 1px solid black; */
}

#sobre {
    padding-left: 60px;
    padding-top: 90px;
    /* border: 1px solid red; */
    background-color: rgba(255, 0, 0, 0.1);
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: left;
    background-image: url(../img/background-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
#sobre article h1 {
    font-size: x-large;
}

#sobre article * {
    width: 40%;
    color: white;
}

#sobre p {
    font-size: 20px;
}

#sobre span {
    background-color: black;
}

#solucoes {
    /* border: 1px solid red; */
    /* padding-left: 100px; */
    padding-top: 60px;
    /* border: 0px solid green; */
    /* background-color:  rgba(0, 255, 0, 0.1);; */
    height: 95vh;
    /* display: flex;
    align-items: center;
    text-align: justify; */
    
}

#solucoes h1 {
    text-align: center;
}

#solucoes article p {
    /* width: 50%; */
}

#solucoes .collection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /* border: 1px solid yellow; */
    /* width: 50%; */
    background-color: rgb(29,27,41);
}


.box {
    margin: 10px;
    padding: 1em;
    border: 0px solid white;
    /* border-radius: 20px; */
    height: 25rem;
    background-color: rgb(203,203,203);
    color: rgb(29,27,41);
    width: 26vw;
    border-radius: 15px;

}


#portifolio {
    padding: 20px;
    padding-top: 60px;
    border: 0px solid yellow;
    background-color: rgba(238, 234, 24, 0.1);
    height: 95vh;
}

#contato {
    padding: 20px;
    padding-top: 60px;
    border: 0px solid purple;
    background-color: rgba(248, 6, 248, 0.1);
    height: 95vh;
}


